@import '@styles/shared.scss';

.beers {
  padding: 96px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  &__button {
    position: absolute;
    top: -12px;
    left: 24px;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 48px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    color: $primary-cyan;
    background-color: $white;
    border: 2px solid $primary-cyan;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition:
      color 250ms $timing-function,
      background-color 250ms $timing-function;

    &:hover {
      color: $white;
      background-color: $primary-cyan;
    }
  }
}
